<div class="row container mt-4">

  <div class="col-3">
    <h2>Mis apps</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://ngbasesrafiki.netlify.app/">
          ngbases
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://gifsapprafiki.netlify.app/">
          gifsApp
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://countryapprafiki.netlify.app/">
          countryApp
        </a>
      </li>
     
    </ul>
  </div>

</div>